[Unit]
Description=NotiCast - AWS based TTS notification system
StartLimitIntervalSec=1
StartLimitBurst=100

[Service]
ExecStartPre=-/usr/bin/sudo /usr/bin/amixer cset numid=3 1
ExecStart=/usr/bin/python3 -u -m noticast
Restart=always
RestartSec=3
User=pi

[Install]
WantedBy=multi-user.target
